.form-info {
  margin-bottom: 10px;
}
.form-info label {
  margin-right: 5px;
  font-size: 20px;
  font-weight: 700;
  color: #23286f;
  margin-right: 10px;
}
.user-name {
  text-decoration: underline;
  color: #09a99d;
  font-weight: 700;
  font-size: 24px;
}
.menu-align {
  background-color: #b9d7d5;
  padding: 25px 0;
}
button {
  margin-right: 10px;
  cursor: pointer;
  background-color: #09a99d;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 10px;
}

table thead td {
  text-transform: capitalize;
  font-weight: 700;
  border: 1px solid #000;
}
table tbody td {
  border: 1px solid #000;
  text-transform: capitalize;
}
table {
  border: 1px solid #000;
  margin: auto;
  width: 50%;
}
input[type="text"],
input[type="email"] {
  padding: 10px;
  width: 20%;
  margin-bottom: 10px;
}
.nav-link {
  text-decoration: underline;
  padding-right: 20px;
  text-transform: capitalize;
  color: #23286f;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 10px;
}
nav {
  text-align: center;
  margin: 20px 0 10px 0;
}
.menu-align {
  text-align: center;
}
table tbody td:nth-child(3) {
  text-transform: lowercase;
}
table thead td:nth-child(3) {
  text-transform: lowercase;
}
